version: 2.1

orbs: 
  semantic-release: trustedshops-public/semantic-release@6.1.0

jobs:
  test:
    docker:
      - image: cimg/go:1.25
    working_directory: ~/go/src/github.com/janritter/terrastate
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            make prepare
      - run:
          name: "Create a temp directory for artifacts"
          command: |
            mkdir -p /tmp/artifacts
            mkdir -p /tmp/test-results
      - run:
          name: Run tests
          command: |
            PACKAGE_NAMES=$(go list ./... | circleci tests split --split-by=timings --timings-type=classname)
            gotestsum --junitfile /tmp/test-results/gotestsum-report.xml -- -coverprofile=c.out $PACKAGE_NAMES
            go tool cover -html=c.out -o coverage.html
            mv coverage.html /tmp/artifacts 
      - store_artifacts:
          path: /tmp/artifacts
      - store_test_results:
          path: /tmp/test-results

  build:
    docker:
      - image: cimg/go:1.25
    working_directory: ~/go/src/github.com/janritter/terrastate
    steps:
      - run:
          name: Install additional packages
          command: |
            sudo apt-get update && sudo apt-get install python3 python3-pip python3-jinja2 git -y
            go install github.com/mitchellh/gox@latest
            go install github.com/tcnksm/ghr@latest
      - checkout
      - run:
          name: Get latest main version, which includes the git tag from the release step
          command: |
            git checkout main
            git pull
      - run:
          name: Install dependencies
          command: |
            make prepare
      - run:
          name: Configure git user
          command: |
            git config --global user.email "git+circleci@janrtr.de"
            git config --global user.name "CircleCI"
      - run:
          name: Build binaries
          command: |
            export NOW=$(date +'%Y-%m-%d_%T')
            gox -output "dist/{{.OS}}_{{.Arch}}_{{.Dir}}" -ldflags "-X github.com/janritter/terrastate/cmd.gitSha=`git rev-parse HEAD` -X github.com/janritter/terrastate/cmd.buildTime=$NOW -X github.com/janritter/terrastate/cmd.version=`git describe --abbrev=0 --tags`" -arch="amd64" -os="linux darwin windows"
      - run:
          name: Upload binaries to GitHub
          command: |
            ghr --username janritter --token $GITHUB_TOKEN --replace $(git describe --abbrev=0 --tags) dist/
      - run:
          name: Create new Homebrew formula
          command: |
            export FILE_HASH_MAC=`sha256sum dist/darwin_amd64_terrastate | awk '{print $1}'`
            export FILE_HASH_LINUX=`sha256sum dist/linux_amd64_terrastate | awk '{print $1}'`
            export VERSION=`git describe --abbrev=0 --tags`
            git clone https://${GITHUB_TOKEN}@github.com/janritter/homebrew-terrastate.git
            cd homebrew-terrastate
            python3 generateFormula.py
            git add terrastate.rb && git commit -m "chore: deployment of version $VERSION - $NOW" && git push

workflows:
  continuous:
    jobs:
      - test:
          filters:
            branches:
              only:
              - /feat\/.*/
              - /[a-zA-Z0-9\-]+:feat\/.*/
              - /chore\/.*/
              - /[a-zA-Z0-9\-]+:chore\/.*/
              - /fix\/.*/
              - /[a-zA-Z0-9\-]+:fix\/.*/
              - /test\/.*/
              - /[a-zA-Z0-9\-]+:test\/.*/
              - /refactor\/.*/
              - /[a-zA-Z0-9\-]+:refactor\/.*/
              - /perf\/.*/
              - /[a-zA-Z0-9\-]+:perf\/.*/
              - /dependabot\/.*/
              - /renovate\/.*/
              - main
      - semantic-release/with_changelog_github_config:
          name: release
          requires:
            - test
          filters:
            branches:
              only:
                - main
          context:
            - github-release
      - build:
          requires:
            - release
          filters:
            branches:
              only:
                - main
          context:
            - github-release
